ExpiresActive On
ExpiresDefault "access plus 1 year"

ExpiresByType text/html "access plus 3 minutes"

<IfModule mod_deflate.c>
    # Insert filter
    SetOutputFilter DEFLATE

    # Don't compress images, htc, woff, they all are already compressed
    SetEnvIfNoCase Request_URI \
    \.(?:gif|jpe?g|png|htc|woff|ogv|mp4|webm)$ no-gzip dont-vary
</IfModule>

RewriteEngine on

# Redirection des pages lorsque le site est en prod, merci de ne pas commiter ce fichier avec les lignes commentées..
#RewriteRule ^register.html$ /soon.html [R=302,L]
#RewriteRule ^register.php$ /soon.html [R=302,L]
#RewriteRule ^leaderboard.html$ /soon.html [R=302,L]
RewriteRule ^register-fr /finished-fr.html [R=302,L]
RewriteRule ^register /finished.html [R=302,L]
RewriteRule ^confirm /finished.html [R=302,L]


# without ending $ it will allow webperf-contest.com.local, how handy .. :)
RewriteCond %{HTTP_HOST} !^webperf-contest\.com
#RewriteCond %{HTTP_HOST} !^preview.webperf-contest\.com
RewriteCond %{HTTP_HOST} !^cdn.webperf-contest\.com
RewriteCond %{HTTP_HOST} !^origin.webperf-contest\.com
RewriteRule (.*) http://webperf-contest.com/$1 [R=301,L]
