# does this really works ? it seems fonts doesn't have specific mime types
Addtype font/opentype .otf
Addtype font/truetype .ttf
Addtype font/woff .woff

AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm

ExpiresActive On
ExpiresDefault "access plus 6 months"

#this can speed up a lot session browsing, html caching for 10 minutes
#ExpiresByType text/html "access plus 10 minutes"

ExpiresByType text/html "now"

ExpiresByType application/atom+xml "access plus 30 minutes"

<IfModule mod_deflate.c>
    # Insert filter
    SetOutputFilter DEFLATE

    # Don't compress images, htc, woff, they all are already compressed
    SetEnvIfNoCase Request_URI \
    \.(?:gif|jpe?g|png|htc|woff|ogv|mp4|webm)$ no-gzip dont-vary
</IfModule>

RewriteEngine on

# Redirection des pages lorsque le site est en prod, merci de ne pas commiter ce fichier avec les lignes commentées..
RewriteRule ^register.html$ /soon.html [R=302,L]
RewriteRule ^register.php$ /soon.html [R=302,L]
RewriteRule ^leaderboard.html$ /soon.html [R=302,L]

# without ending $ it will allow zeroload.net.local, how handyy .. :)
RewriteCond %{HTTP_HOST} !^webperf-contest\.com
# not really usefull it seems
RewriteCond %{HTTP_HOST} !^webperf-contest\.com\.local
RewriteRule (.*) http://webperf-contest.com/$1 [R=301,L]