/* Styling */
html {
	overflow-y:scroll;
}

#header {
	padding:.5% 1% 0 0;
	-moz-border-radius:0 0 5px 0;
	-webkit-border-radius:0 0 5px 0;
	background: #8EECB9; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #8EECB9 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#8EECB9)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#8EECB9',GradientType=0 ); /* ie */
}

#header h1 {
	margin:.75% 0 0;
	font-size:350%;
}

.sponsors a {
	display:block;
	background:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin:.15em 0;
	padding:.35em;
	text-align:center;
}

.sponsors img {
	vertical-align:middle;
}

#menu a {
	padding:.5% 1%;
	background:#777;
	text-decoration:none;
	color:#eee;
	float:left;
}

#menu a+a {
	border-left:1px solid #000;
}

#menu a:last-child {
	-moz-border-radius:0 5px 0 0;
	-webkit-border-radius:0 5px 0 0;
}

#menu a:hover {
	color:#fff;
	background:#1693A5;
}

#menu .current {
	/* !important is for the href="register.html" selector, see below "*/
	background:#fff !important;
	color:#000 !important;
}

#menu a[href="register.html"], #menu a[href="register-fr.html"] {
	color:yellow;
}

#content-container {
	width:85%;
	min-width:40em;
	background:#fff;
}

#text-container {
	position:relative;
	padding:1em 20% 1% 4%;
	font-size:105%;
}

#text-nav {
	position:absolute;
	top:0;
	right:0;
	padding:0 .5%;
	width:17%
}

/* headings */
#text-container h1 {
	color:#871235;
}

ul li {
	list-style:disc outside url("list-arrow.png");
}

/* Links */
a {

}
a:link {

}
a:visited {

}
a:focus {

}
a:active {

}

/**
Register
*/
#downloadButton {
	padding:.5em 1em;
	text-decoration:none;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size:160%;
	/*	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;*/
	background: #C2CE7B; /* old browsers */
	background: -moz-linear-gradient(top, #C2CE7B 0%, #96B548 50%, #7DA521 51%, #A5C64F 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C2CE7B), color-stop(50%,#96B548), color-stop(51%,#7DA521), color-stop(100%,#A5C64F)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C2CE7B', endColorstr='#A5C64F',GradientType=0 ); /* ie */
}

#downloadButton:hover {
	background: #bfd255; /* old browsers */
	background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* ie */
}

#registerForm {
	border-radius:.5em;
	-moz-border-radius:.5em;
	-webkit-border-radius:.5em;
	width:70%;
	font-size:120%;
	margin:0 auto;
}

#registerForm legend {
	font-weight:bold;
	margin:1%;
}

#registerForm label {
	display:block;
	width:75%;
	overflow:hidden;
	margin-bottom:1%;
	padding:0 0 0 2%;
}

#registerForm label input {
	width:95%;
}

#registerForm fieldset {
	width:49%;
	float:left;
}

#registerForm fieldset+fieldset {
	margin-left:2%;
}

#registerButton {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:.5em 1em;
	text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
	font-weight:bold;
	border:1px solid grey;
	cursor:pointer;
	color:white;
	background: #b5bdc8; /* old browsers */
	background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* ie */
}

#registerButton:hover {
	background: #E3F9F2; /* old browsers */
	background: -moz-linear-gradient(top, #E3F9F2 0%, #BACCD3 36%, #28343b 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E3F9F2), color-stop(36%,#BACCD3), color-stop(100%,#28343b)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E3F9F2', endColorstr='#28343b',GradientType=0 ); /* ie */
}

.importantBot{display:none}

#splash img {
	vertical-align:middle;
	margin:0 .5%
}

#splash li {
	padding-left:50px;
	margin-bottom:1%;
}

#splash li:nth-child(1) {
	background:url('trophies/1.png') no-repeat;
	min-height:36px;
	line-height:36px;
}

#splash li:nth-child(2) {
	background:url('trophies/2.png') no-repeat 4px 0;
	min-height:33px;
	line-height:33px;
}

#splash li:nth-child(3) {
	background:url('trophies/3.png') no-repeat 4px 0;
	min-height:29px;
	line-height:29px;
}

#steps p {
	border-radius:.5em;
	-moz-border-radius:.5em;
	-webkit-border-radius:.5em;
	padding:1em .5em;
	margin-left:1em;
	font-size:80%;
	line-height:1.5em;
	min-height:3em;
}

/* Leaderboard */
.tablesorter {
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	width: 100%;
	text-align: left;
	border-collapse:separate;
	border-spacing:1px;
}
.tablesorter thead th {
	background-color: #e6EEEE;
	padding: 4px;
	border:1px solid #fff;
}
.tablesorter .header {
	background-image: url(leaderboard_imgs/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

.tablesorter td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}

.tablesorter tr:nth-child(odd) td {
	background-color:#F0F0F6;
}

.tablesorter .headerSortUp {
	background-image: url(leaderboard_imgs/asc.gif);
}

.tablesorter .headerSortDown {
	background-image: url(leaderboard_imgs/desc.gif);
}

.tablesorter .headerSortDown, .tablesorter .headerSortUp {
	background-color: #8dbdd8;
}

.tablesorter td {
	border:0;
}